<div class="input_fields_wrap">
	<div class="brand_form">
		<%= form_for [@user, @brand], remote: true do |f| %>
		<%= f.select :name, options_for_select(Brand::NAME.map.with_index { |c,i| [c, i] }) %>
		<%= f.submit name="Add Brand" %>
		<% end %>
	</div>
</div>