<div class="newimagestyle">
	<div class="newpicform">
		<h1>New Image</h1>
			<p>Choose a file to upload and a preview will be shown.</p>
			<p>Hit "Create Image" when you are ready to post!</p>
			<%= render "form" %>
		<div id="target"></div>
	</div>
</div>